:root {
  /* colors */
  --orange: #ff5200;
  --black: #000;
  --white: #fff;
  --gray-light: #f0eeee;
  --gray-med: #98908c;

  /* typography */
  --text-color: var(--black);
  --font-family: "Roboto", Arial, Helvetica, sans-serif;

  /* layout */
  --body-background-color: var(--gray-light);
  
  /* button */
  --button-font-family: var(--font-family);
  --button-background-color: var(--orange);
  --button-text-color: var(--white);
  --button-letter-spacing: 2;
  --button-text-transform: uppercase;

  --header-menu-link-color: var(--gray-med);
}

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}
