:root {
  /* colors */
  --orange: #ff5200;
  --black: #000;
  --white: #fff;
  --gray-light: #f0eeee;
  --gray-med: #98908c;

  /* typography */
  --heading-text-color: var(--black);
  --text-color: var(--black);
  --font-family: "Roboto", Arial, Helvetica, sans-serif;
  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-medium-dark: 500;
  --font-weight-bold: 700;
  --font-size-small: 15px;
  --font-size-med: 30px;
  --font-size-large: 60px;
  
  /* headings */
  --h1-font-size: 60px;

  /* paragraph */
  --p-font-size: 30px;

  /* layout */
  --body-background-color: var(--gray-light);
  
  /* button */
  --button-font-family: var(--font-family);
  --button-background-color: var(--orange);
  --button-text-color: var(--white);
  --button-letter-spacing: 2;
  --button-text-transform: uppercase;

  --header-menu-link-color: var(--gray-med);
}

body {
  background-color: var(--body-background-color);
  font-family: var(--font-family);
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  color: var(--heading-text-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-light);
  margin: 0 0 10px;
}

h2 {
  color: var(--heading-text-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  margin: 0;
}

p {
  color: var(--text-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

b {
  font-weight: var(--font-weight-medium-dark);
}